[Unit]
Description=Run nano ethminer command
After=graphical.target accounts-daemon.service
Requires=graphical.target accounts-daemon.service
[Service]
ExecStart=/usr/local/bin/nano_ethminer
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
Type=idle
KillMode=control-group
Restart=on-failure
RestartSec=300s
[Install]
WantedBy=graphical.target
