[Unit]
Description=Run nano ethminer command
After=graphical.target
Requires=graphical.target
[Service]
ExecStart=/usr/local/bin/nano_ethminer
ExecStartPre=/bin/echo 'Begin to start ethminer command.'
ExecStartPost=/bin/echo 'Finish to start ethminer command.'
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -15 $MAINPID
Type=idle
KillMode=control-group
Restart=on-failure
RestartSec=300s
[Install]
WantedBy=graphical.target
